extends pageLayout

block content 
    .col-md-6.mx-auto 
        .card 
            .card-body 
                h4.card-title= confirmed.cartID 
                p.card-text= product.description 
                form(action="/ajouter-panier", method="POST")
                    h5 
                        | Prix Petit:
                        input(type="radio", name="prix", value=product.prix)
                        span.badge.badge-pill.badge-secondary #{product.prix}$
                    h5 
                        | Prix Moyen:
                        input(type="radio", name="prix", value=product.prix)
                        span.badge.badge-pill.badge-secondary #{product.prix*4}$
                    h5 
                        | Prix Grand:
                        input(type="radio", name="prix", value=product.prix)
                        span.badge.badge-pill.badge-secondary #{product.prix*4}$
                    h5
                        | Végétarien:
                        input(type="checkbox", name="végé", value=product.végé)
                    hr
                    input(type="hidden", name="productId", value=product.id)
                    button(type="submit").btn.btn-outline-success.btn-sm Ajouter au Panier