extends pageLayout

block content 
    br
    .col-md-6.mx-auto 
        .card 
            .card-head 
                h4.card-title.text-center.mt-3= "Votre Panier" 
                p.card-text.text-center= confirmed.cartId
                      .card.col-md-12.col-lg-6.m-auto
            .card-body
                table.table
                    thead.thead-light
                        tr
                        th(scope='col') Nom
                        th(scope='col') Végé
                        th(scope='col') Prix
                        th(scope='col') Quantité
                    tbody
                        each product in products
                            tr
                                td= product.product.name 
                                td= product.végé
                                td= product.prix + "$"
                                td= product.qté
            .card-footer 
                h5.text-right= "Prix Total:" + confirmed.prixTotal + "$"
        br
        a(href="/confirmed")
            button(type="submit").btn.btn-outline-success.btn-sm Retour aux commandes
    br