extends pageLayout

block content
    if hasProducts
            table.table
                thead.thead-dark
                    tr
                    th(scope='col') Nom
                    th(scope='col') Image
                    th(scope='col') Prix
                    th(scope='col') Quantité
                tbody
                    each cartProduct in cartProducts
                        tr
                            td= cartProduct.product.name 
                            td
                                a(href="/produit/"+cartProduct.product.id)
                                    img(src="/images/"+cartProduct.product.image, alt=cartProduct.product.name,height="70", width="70")
                            td #{cartProduct.product.prix}$
                            td= cartProduct.qté
            .container
                h4.text-right Prix total: #{prixTotal}$
                a(href="/menu")
                    button(type="action").btn.btn-outline-success.btn-sm Retour au Menu
            br
    else 
        .container.bg-info 
            h3.text-center Votre Panier est vide
