extends pageLayout

block content 
    br
    .col-md-6.mx-auto 
        .card 
            img(src="/images/"+product.image, alt=product.name).card-img-top
            .card-body 
                h4.card-title= product.name 
                p.card-text= product.description 
                form(action="/ajouter-panier", method="POST")
                    h5 
                        | Par Bouchée:
                        input(type="radio", name="prix", value=product.prix)
                        span.badge.badge-pill.badge-secondary #{product.prix}$
                    h5 
                        | 10 Bouchées:
                        input(type="radio", name="prix", value=product.prix)
                        span.badge.badge-pill.badge-secondary #{product.prix*6}$
                    h5 
                        | 25 Bouchées:
                        input(type="radio", name="prix", value=product.prix)
                        span.badge.badge-pill.badge-secondary #{product.prix*15}$
                    h5
                        | Option Végane:
                        input(type="checkbox", name="végé", id=product.végé, value=product.végé)
                    hr
                    input(type="hidden", name="productId", value=product.id)
                    button(type="submit").btn.btn-outline-success.btn-sm Ajouter au Panier
    br